{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <br><br><br><h3>Welcome to Library User Manager</h3>
    <br><br><p>Discover a world of knowledge, imagination, and inspiration at our library. Whether you're an avid reader, a curious learner, or seeking a quiet space to unwind, our library offers an enriching experience for all.</p>
    <br><br><p>Login to Explore the Library's Features</p>
    <br> <a  type="button" class="btn btn-primary btn-sm" href="{%url 'login' %}">Login</a>
    
</div>



{% endblock %}